

.alert-info{
    background-color: #CCFFFF;
    border: 1px solid gray;
    display: flex;
    justify-content: center;
    height: 7vh;
    align-items: center;
}

div a{
    text-decoration: none;
    color: #000000;
}

nav{
    display: flex;
    justify-content: center;
}
.nav-links li{
    justify-content: space-around;
}

h1{
    display: flex;
    justify-content: space-evenly;
}

ul {
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;


}

li{
    align-items: center;
    display: flex;
    margin: 5px;
    background-color: #808080;
    width: 95vw;
    height: 34px
}


@media screen and (min-width:500px) {
    selector {
        margin: 4px;
    }
}





